In [21]:
"""
Q.1)
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5 
"""
n=5
for a in range(n):  # rows
    for b in range(a+1):   # columns
        print(a+1, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [22]:
"""
Q2)
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
"""
n=6
for i in range(1, n):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
"""
Q3)
1 1 1 1 1 
2 2 2 2 
3 3 3 
4 4 
5
"""
n=6
for i in range(1, n):
    for j in range(n-i, 0, -1):
        print(i, end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [24]:
"""
Q4)
5 5 5 5 5 
5 5 5 5 
5 5 5 
5 5 
5 
"""
n=6
for i in range(1,n):
    for j in range(n-i,0,-1):
        print('5',end=' ')
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [23]:
"""
Q5.)
5 5 5 5 5 
4 4 4 4 
3 3 3 
2 2 
1
"""
n=5
for i in range(n, 0, -1):
    for j in range(i):
        print(i, end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [26]:
"""
Q6)
0 1 2 3 4 5 
0 1 2 3 4 
0 1 2 3 
0 1 2 
0 1 
"""
n=5
for i in range(n,0,-1):
    for j in range(0,i+1):
        print(j,end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [25]:
"""
Q7)
1 
2 1 
3 2 1 
4 3 2 1 
5 4 3 2 1
"""
n=6
for i in range(1,n):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [28]:
"""
Q8)
1 2 3 4 5 
1 2 3 4 
1 2 3 
1 2 
1
"""
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [38]:
"""
Q9)
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
"""
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [34]:
"""
Q10)
1
234
56789
"""
start = 1
stop = 2
n = 1
for i in range(3):
    for j in range(1,stop):
        print(n,end=' ')
        n += 1
    stop += 2
    print()

1
2 3 4
5 6 7 8 9

In [38]:
"""
Q11)
1
121
12321
1234321
"""
n = 5
for i in range(1,n+1):    # rows
    for j in range(1,i-1):    # will print left side increasing order 1, 12, 123,
        print(j,end=' ')
    for j in range(i-1,0,-1):   # it will print next part in decreasing order 1, 21, 321, 4321
        print(j,end=' ')
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1

In [44]:
"""
Q12)
1
33
555
7777
99999
"""
n = 10
for i in range(1,n,2):
    for j in range(0,i,2):
        print(i,end=' ')
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [45]:

"""
Q13)
*****
 ****
  ***
   ** 
    *
"""
for i in range(5):     # rows
    for j in range(i):
        print(' ',end='')
    print('*'*(5-i),end='')
    print()

*****
 ****
  ***
   **
    *

In [46]:
"""
Q14)
*
**
***
****
*****
"""
for i in range(1,6):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****
*****

In [81]:
"""
Q15)
    *
   **
  ***
 ****
*****
"""
for i in range(1,6):
    for j in range(5-i,0,-1):
        print(" ",end='')
    print('*'*(i),end='')
    print()

    *
   **
  ***
 ****
*****

In [82]:
"""
Q16)
    *
   **
  ***
 ****
*****
*****
 ****
  ***
   **
    *
"""
for i in range(1,6):
    for j in range(5-i,0,-1):
        print(" ",end='')
    print('*'*(i),end='')
    print()
for i in range(5):     # rows
    for j in range(i):
        print(' ',end='')
    print('*'*(5-i),end='')
    print()

    *
   **
  ***
 ****
*****
*****
 ****
  ***
   **
    *

In [85]:
"""
Q17)
12345
22345
33345
44445
55555
"""
for i in range(1,6):
    for j in range(1,6):
        if j <= i:
            print(i,end='')
        else:
            print(j,end='')
    print()

12345
22345
33345
44445
55555